<body>

<ul>
  <li><a class="active" href="/">Home</a></li>
  <li><a href="/artists">Artists</a></li>
  <li><a href="/songs">Songs</a></li>
</ul>

</body>

<div>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @artist.name %>
</p></br>

<p>
	<strong>Songs:</strong></br>
	<div id="multiColumn">
	<ol>
	<% @artist.songs.each do |song| %>
	<iframe src="https://embed.spotify.com/?uri=<%=song.get_spotify_uri%>" width="300" height="380" frameborder="0" allowtransparency="true"></iframe></br> 
	<% end %>
	</ol>
	</div>
</p>

<footer>
<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
</footer>
</div>