<div>
<%= form_for(@song) do |f| %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.fields_for :artist_attributes do |artist| %>
      <%= artist.label :artist_name %></br>
      <%= artist.text_field :name %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>